asgiref==3.11.0
blinker==1.9.0
click==8.4.1
colorama==0.4.6
Django==6.0
Flask==3.1.0
Flask-JWT-Extended==4.7.4
Flask-SQLAlchemy==3.1.1
greenlet==3.5.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysql-connector-python==9.2.0
numpy==2.4.4
pandas==3.0.2
plyer==2.1.0
PyJWT==2.12.1
PyMySQL==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.17.0
SQLAlchemy==2.0.51
sqlparse==0.5.4
typing_extensions==4.16.0
tzdata==2025.3
Werkzeug==3.1.8
